$--padding: 1rem;

.navigator {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    background-color: $--black;
    padding-top: 1rem;
    overflow-y: auto;

    -webkit-transition: height ease-in-out 0.2s;
    -moz-transition:    height ease-in-out 0.2s;
    -o-transition:      height ease-in-out 0.2s;
    transition:         height ease-in-out 0.2s;

    &[data-is-hidden="true"] {
        height: 0px;
        padding-top: 0px;
        overflow: hidden;
    }

    > ul {
        width: calc(100% - calc($--padding * 2));
        padding: 0 $--padding;
    }

    ul {
        width: calc(100% - calc($--padding * 2));
        padding: calc($--padding / 3) $--padding;
        list-style: none;
        gap: calc($--padding / 2);

        li {
            position: relative;
            white-space:nowrap;
            width: 100%;

            a {
                align-items: center;
                text-decoration: none;
                color: $--white;
                border: 1px solid transparent;
                border-radius: $--squircle-border-radius;
                padding: calc($--padding * 0.7) $--padding;
                padding-left: 0;
                overflow: hidden;

                -webkit-transition: border-color ease-in-out 0.2s, padding-left ease-in-out 0.25s;
                -moz-transition:    border-color ease-in-out 0.2s, padding-left ease-in-out 0.25s;
                -o-transition:      border-color ease-in-out 0.2s, padding-left ease-in-out 0.25s;
                transition:         border-color ease-in-out 0.2s, padding-left ease-in-out 0.25s;

                &:active,
                &:focus,
                &:focus-within,
                &:hover {
                    padding-left: calc($--padding * 0.7);
                    border-color: $--light-grey;
                }

                svg {
                    width: 1rem;
                    height: auto;
                    stroke: $--white;
                    margin-left: auto;
                }
            }

            ul {
                width: calc(100% - calc($--padding * 1.5));
                padding-right: 0;
                padding-left: calc($--padding * 1.25);
            }

            &[data-is-collapsed="true"] {
                ul {
                    display: none;
                }

                a {
                    svg {
                        transform: rotate(90deg);
                    }
                }
            }

            &[data-is-collapsed="false"] {
                ul {
                    margin-top: 1vh;
                    border-left: 1px solid $--white;
                }
            }

            &[data-is-current-reference="true"] {
                > a {
                    padding-left: $--padding;
                    background-color: $--white;
                    color: $--black;

                    svg {
                        stroke: $--black;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .navigator {
        position: relative;
        width: 23vw;
        max-width: 400px;
        border-right: 1px solid $--light-grey;
        margin: 0;
        background-color: transparent;
        padding-top: 0.5rem;

        -webkit-transition: width ease-in-out 0.2s;
        -moz-transition:    width ease-in-out 0.2s;
        -o-transition:      width ease-in-out 0.2s;
        transition:         width ease-in-out 0.2s;
    
        &[data-is-hidden="true"] {
            height: 100vh;
            width: 0px;
            border: none;
        }

        > ul:last-child{
            margin-bottom: 6rem;
        }

        ul {
            li {
                a {
                    color: $--black;

                    svg {
                        stroke: $--black;
                    }
                }
    
                &[data-is-collapsed="false"] {
                    ul {
                        border-left: 1px solid $--black;
                    }
                }
    
                &[data-is-current-reference="true"] {
                    > a {
                        background-color: $--black;
                        color: $--white;
    
                        svg {
                            stroke: $--white;
                        }
                    }
                }
            }
        }
    }
}