.header {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: $--black;


    &__icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        margin-right: auto;

        svg {
            width: 4rem;
            height: auto;
            stroke: $--white;
        }

        h2 {
            color: $--white;
            font-family: 'K2D';
            font-size: 1.1rem;
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .header {
        position: relative;
        left: initial;
        z-index: initial;
    }
}