.language-button {
    margin-right: 1rem;

    ul {
        position: absolute;
        margin-top: 3rem;
        padding: 0.5rem;
        border-radius: calc($--squircle-border-radius * 1.2);
        background-color: $--black;
        box-shadow: $--box-shadow;
        border: 1px solid $--light-grey;

        &[data-is-list-visible="false"] {
            display: none;
        }

        li {
            a {
                width: 100%;
                height: 100%;
                padding: 1rem 1.5rem;
                min-width: 8rem;
                font-family: 'K2D';
                font-size: 0.8rem;
                text-decoration: none;
                border-radius: $--squircle-border-radius;
                color: $--white;
    
                &:active,
                &:focus,
                &:focus-within,
                &:hover {
                    cursor: pointer;
                    background-color: $--light-grey;
                }
            }
        }
    }
}