.not-found {
    height: 100%;

	&__title {
        align-items: center;
        justify-content: center;
        height: 100%;

        h2, h3 {
			font-family: 'K2D';
			color: $--black;
            text-align: center;
        }

		h2 {
			font-size: 8rem;
			text-transform: uppercase;
		}

		h3 {
            font-style: italic;
            font-weight: 300;
            font-size: 4rem;
		}
	}
}

@media only screen and (min-width: $--min-desktop-width) {
	.not-found {
		&__title {
			h2 {
				font-size: 12rem;
			}

			h3 {
				font-size: 6rem;
			}
		}
	}
}