.reference {
    &__history {
        height: 2rem;
        width: 100%;
        overflow-x: auto;
        align-items: center;
        list-style-type: none;
        margin: 0.2rem 0 1.2rem 0;
        gap: 0.2em;

        li {
            &[data-is-active="true"] {
                a {
                    color: $--black;
                    font-weight: bold;
                }
            }

            &[data-is-active="false"] {
                a {
                    -webkit-transition: background-color ease-in-out 0.2s;
                    -moz-transition:    background-color ease-in-out 0.2s;
                    -o-transition:      background-color ease-in-out 0.2s;
                    transition:         background-color ease-in-out 0.2s;

                    &:active,
                    &:focus,
                    &:focus-within,
                    &:hover {
                        background-color: $--dark-grey;
                    }
                }
            }

            a {
                color: $--grey;
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: 300;
                border-radius: $--squircle-border-radius;
                padding: 0.2em 0.6em;
            }
        }
    }

    &__title {
        gap: 1rem;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
        }

        h2 {
            opacity: 0.5;
        }
    }

    &__source {
        margin-top: 1.5rem;
        gap: 0.6rem;

        div {
            display: flex;
            flex-direction: row;
            border-radius: $--squircle-border-radius;
            gap: 0.6rem;

            div {
                display: flex;
                align-items: center;
                padding: 1rem;
                width: calc(50% - 2rem);
                font-size: 0.75rem;
                overflow-x: auto;
                white-space: nowrap;

                &:first-of-type {
                    background-color: $--light-grey;
                    color: $--black;
                    width: calc(50% - 2rem);
                    max-width: 100px;
                }

                &:last-of-type {
                    background-color: $--dark-grey;
                    color: $--grey;
                    width: calc(100% - 2rem);
                }
            }
        }
    }

    &__system {
        display: inline;
        margin-top: 2rem;

        span {
            padding: 0.25rem 2rem;
            border-radius: $--squircle-border-radius;
            background-color: $--black;
            color: $--white;
            font-size: 0.9rem;
        }
    }

    &__text {
        margin-top: 2rem;
    }
}


@media only screen and (min-width: $--min-desktop-width) {
    .reference {
        &__history {
            margin: 0.4rem 0 0 0;
            height: auto;
            justify-content: flex-end;
            overflow: visible;
        }

        &__history {
            li {
                a {
                    font-size: 1.25rem;
                }
            }
        }

        &__title {
            h1 {
                font-size: 3.25rem;
            }
        }    

        &__source {
            div {
                div {
                    font-size: 0.9rem;

                    &:first-of-type {
                        width: calc(15% - 2rem);
                        max-width: 200px;
                    }

                    &:last-of-type {
                        width: calc(100% - 2rem);
                    }
                }
            }
        }
    }
}