.reference {
    &__history {
        align-items: center;
        gap: 1vh;
        list-style-type: none;

        li {
            &[data-is-active="true"] {
                a {
                    padding: 0.25rem 1.25rem;
                    color: $--white;
                    background-color: $--black;
                    border-radius: 1rem;
                    font-weight: 300;
                }
            }

            a {
                color: $--grey;
                text-decoration: none;
                font-size: 1.1rem;
            }
        }
    }

    &__title {
        h1 {
            font-size: 3rem;
            font-weight: bold;
            margin-top: 3rem;
        }
    }

    &__system {
        display: inline;
        margin-top: 2rem;

        span {
            padding: 0.25rem 2rem;
            border-radius: 1rem;
            background-color: $--black;
            color: $--white;
            font-size: 0.9rem;
        }
    }

    &__text {
        margin-top: 2rem;
    }
}