$--accent-color: #252525;

$--selected-background-color: #345C54;
$--selected-color: #e2e8f0;

$--green-color: #0b997d;
$--medium-color: #455657;
$--dark-green-color: #345C54;

$--grey-color: #aaaaaa;
$--light-grey-color: #757575;
$--dark-grey-color: #323232;

$--black: #252525;
$--white: #ffffff;

$--box-shadow: 1px 2px 5px 0px rgba(170, 170, 170, 0.25);