//Components Import
@import 'components/markdown';
@import 'components/navbar';
@import 'components/navigator';

@import 'components/buttons/hamburguer';
@import 'components/buttons/language';
@import 'components/buttons/theme';

//Pages Import
@import 'pages/home';
@import 'pages/not-found';
@import 'pages/reference';

body {
    width: 100vw;
    height: 100vh;
	background-color: $--white;
    font-family: 'K2D';

    -webkit-transition: background-color ease-in-out 0.2s;
    -moz-transition:    background-color ease-in-out 0.2s;
    -o-transition:      background-color ease-in-out 0.2s;
    transition:         background-color ease-in-out 0.2s;

    main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        section {
            display: flex;
            flex-direction: column;
            padding: 2rem;
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    body {
        overflow: hidden;

        main {
            display: flex;
            flex-direction: row;
            overflow: hidden;

            section {
                flex: 1;
                overflow-y: auto;
                padding: 3rem;
            }
        }
    }
}